################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/ConsoleCmdCommandLine/v16
/ConsoleCmdCommandLine/bin/Debug
/ConsoleCmdCommandLine/obj/Debug
